<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>wrking</h1>
    <form action="getdata" method="post">
        {% csrf_token %}
        <div class="box">
            <label for="cex">currency exchange:</label>
            <select name="cex" id="cex">
                <option value="USDJPY=X">USDJPY=X</option>
                <option value="USDCAD=X">USDCAD=X</option>
                <option value="EURJPY=X">EURJPY=x</option>
                <option value="USDGBP=X">USDGBP=X</option>
            </select>
            <br>
        </div>
        <input class="button" type="submit" name="submit" value="Submit">
    </form>
</body>

</html>